@model IEnumerable<EulerExchangeAppDev.Models.DiscountsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinOrderGram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinOrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinOrderGram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinOrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Companies.ContactPersonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
