@model List<EulerExchangeAppDev.Models.ViewModels.GoldBullionOfferViewModel>


<div style="overflow-y:auto; overflow-x: hidden; height:100vh;">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>              
                @if (item.getSecondsToEnd() > 300)
                {
                    <div style="background-color:#eeeeee" class="img-rounded">@item.Companies.CompanyName</div>
                    <p>Starts at @item.DateTime</p>
                }
                else
                {
                    <div style="background-color:#eeeeee" class="img-rounded">@item.Companies.CompanyName</div>
                    <b>@Html.DisplayNameFor(model => model.First().Carat):</b>@Html.DisplayFor(modelItem => item.Carat)<br />
                    <b>@Html.DisplayNameFor(model => model.First().Price):</b><div id="@item.Id">@Html.DisplayFor(modelItem => item.Price)</div>
                    <b>@Html.DisplayNameFor(model => model.First().Weight):</b>@Html.DisplayFor(modelItem => item.Weight)<br />
                        <p id="@item.Id" class="countdownclass">@item.getSecondsToEnd()</p>
                }

                @if (item.getSecondsToEnd() > 0)
                {
                <table>
                    <tr>
                        <td><button type="button" onclick="button_bid_click(@item.Id,0.03)" class="btn btn-default">0.03</button></td>
                        <td><button type="button" onclick="button_bid_click(@item.Id,0.05)"  class="btn btn-default">0.05</button></td>
                        <td><button type="button" onclick="button_bid_click(@item.Id,0.1)"  class="btn btn-default">0.10</button></td>
                    </tr>
                </table>
                }

            </div>
        }
    }
</div>
<hr>
<script>

    
    $(document).ready(function () {
        var elements = $(".countdownclass");
        for (i = 0; i < elements.length; i++) {
            setCountDown(elements[i]);
        }
    })

    function setCountDown(element) {
        // Set the date we're counting down to
        var countDown = element.innerHTML;

        // Update the count down every 1 second
        var x = setInterval(function () {

            countDown--;
            if (Math.floor(countDown / 60) > 0)
                element.innerHTML = Math.floor(countDown / 60) + ":" + ((countDown % 60) > 9 ? (countDown % 60) : "0" + (countDown % 60));
            else
                element.innerHTML = countDown;

            // If the count down is finished, write some text
            if (countDown < 0) {
                //clearInterval(x);
                element.innerHTML = "FINISHED";
            }
        }, 1000);
    }
    
    function button_bid_click(id, value) {
        $.ajax({
            type: "POST",
            url: "/GoldBullionOffers/bid",
            data: JSON.stringify({id : id, value:value}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#"+id).text(response.result);
            }
        })


    }
</script>