@model List<EulerExchangeAppDev.Models.ViewModels.JewelryItemsViewModel>

    <link rel="stylesheet" href="~/Scripts/MagnificPopup/magnific-popup.css">
    <script src="~/Scripts/MagnificPopup/jquery.magnific-popup.js"></script>

    <div style="overflow-y:auto; overflow-x: hidden; height:350px;">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <div style="clear:both;">
                @Html.ActionLink(@item.Companies.CompanyName, "Index", "Store", new {id = item.CompanyId }, null)
                <div style="background-color:#f0ed3f">@item.Companies.CompanyName</div>

                @if (item.Companies.ImageURL != null)
                {
                    <div class="gallery">
                        <img src='@Url.Action("GetCompanyImage", "JewelryItems", item.Companies)' width="150" height="150" /><br />
                    </div>
                }
                else
                {
                    <img src="~/DataImages/noimage.png" width="150" />
                    <br />
                }

                <b>@Html.LabelFor(model => item.JewelryCategories.Name):</b>
                @Html.DisplayFor(modelItem => item.JewelryCategories)
                <br />
            </div>
            }
        }
    </div>
<hr>