@model IEnumerable<EulerExchangeAppDev.Models.RingsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Radius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circumference)
            </th>
            <th></th>
        </tr>
*@
<table>
    <tr>


@foreach (var item in Model)
{
    <td>
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            <tr>
                <td>
                    @if (item.ImageURL.Count > 0)
                    {
                        //<img width="30px" src="@item.ImageURL.First().ImageURL1" />
                        //<img src="@Server.MapPath(item.ImageURL.First().ImageURL1)" />
                        //<img width="30px" src="DataImages/Rings/1/Ring1004/1.jpg"/>
                        //<img width="30px" src="RetrieveImag/@item.Id" alt ="" />
                        <img src='@Url.Action("GetImage", "Rings", item.ImageURL.First())' width="80px"/>
                        
                    }
                    else
                    {
                        <div>No image to display</div>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Number)</b>
                    @Html.DisplayFor(modelItem => item.Number)<br/>

                    <b>@Html.DisplayNameFor(model => model.Decription)</b>
                    @Html.DisplayFor(modelItem => item.Decription)<br />

                    <b>@Html.DisplayNameFor(model => model.Size)</b>
                    @Html.DisplayFor(modelItem => item.Size)<br />

                    <b>@Html.DisplayNameFor(model => model.Radius)</b>
                    @Html.DisplayFor(modelItem => item.Radius)<br />

                    <b>@Html.DisplayNameFor(model => model.Circumference)</b>
                    @Html.DisplayFor(modelItem => item.Circumference)<br />
                </td>
            </tr>
        </table>
    </td>
}
    </tr>
</table>
