@model EulerExchangeAppDev.Models.PromotionsViewModel

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Promotions</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.LabelFor(model => model.Persent, htmlAttributes: new { @style = "color:black", @onclick = "change('percent')", @id = "lbl_percent" })
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @style = "color:gray", @onclick = "change('price')", @id = "lbl_price" })
                @Html.LabelFor(model => model.Millem, htmlAttributes: new { @style = "color:gray", @onclick = "change('millem')", @id = "lbl_millem" })
            </div>
            <div class="col-md-10" id="tb_percent">
                @Html.EditorFor(model => model.Persent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Persent, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10" style="display: none" id="tb_price">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10" style="display: none" id="tb_millem">
                @Html.EditorFor(model => model.Millem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Millem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinOrderGram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinOrderGram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinOrderGram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinOrderPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinOrderPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinOrderPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 datepicker">
                @Html.EditorFor(model => model.PeriodFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeriodFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeriodTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <a onclick="checkAll()">SelectAll</a> | <a onclick="uncheckAll()">UnselectAll</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Rings)
                    @Html.ValidationMessageFor(model => model.Rings, "", new { @class = "text-danger", @name = "checkbox" })
                    @*@Html.CheckBoxFor(model => model.Rings, new { @checked = "checked" })*@
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EngagementRings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.EngagementRings)
                    @Html.ValidationMessageFor(model => model.EngagementRings, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WeddingRings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.WeddingRings)
                    @Html.ValidationMessageFor(model => model.WeddingRings, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NecklacesChains, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.NecklacesChains)
                    @Html.ValidationMessageFor(model => model.NecklacesChains, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChildrenNecklaceChains, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.ChildrenNecklaceChains)
                    @Html.ValidationMessageFor(model => model.ChildrenNecklaceChains, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Sets)
                    @Html.ValidationMessageFor(model => model.Sets, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bracelets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Bracelets)
                    @Html.ValidationMessageFor(model => model.Bracelets, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChildrenBracelets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.ChildrenBracelets)
                    @Html.ValidationMessageFor(model => model.ChildrenBracelets, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bangles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Bangles)
                    @Html.ValidationMessageFor(model => model.Bangles, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChildrenBangles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.ChildrenBangles)
                    @Html.ValidationMessageFor(model => model.ChildrenBangles, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Earrings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Earrings)
                    @Html.ValidationMessageFor(model => model.Earrings, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ChildrenEarrings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.ChildrenEarrings)
                    @Html.ValidationMessageFor(model => model.ChildrenEarrings, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pendants, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Pendants)
                    @Html.ValidationMessageFor(model => model.Pendants, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PinBrooch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.PinBrooch)
                    @Html.ValidationMessageFor(model => model.PinBrooch, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cufflinks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Cufflinks)
                    @Html.ValidationMessageFor(model => model.Cufflinks, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Watches, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Watches)
                    @Html.ValidationMessageFor(model => model.Watches, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sunglasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" name="checkb">
                    @Html.EditorFor(model => model.Sunglasses)
                    @Html.ValidationMessageFor(model => model.Sunglasses, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    function check(value) {
        var checkboxes = $('div[name=checkb]');

        for (i = 0; i < checkboxes.length; i++) {
            checkboxes[i].children[0].checked = value;
        }
    }

    function checkAll() {
        check(true);
    }

    function uncheckAll() {
        check(false);
    }

    function change(button) {
        if (button == "percent") {
            $("#lbl_percent").css("color", "black");
            $("#lbl_price").css("color", "gray");
            $("#lbl_millem").css("color", "gray");

            $("#tb_percent").show();
            $("#tb_price").hide();
            $("#tb_millem").hide();
        }
        if (button == "price") {
            $("#lbl_percent").css("color", "gray");
            $("#lbl_price").css("color", "black");
            $("#lbl_millem").css("color", "gray");

            $("#tb_percent").hide();
            $("#tb_price").show();
            $("#tb_millem").hide();
        }
        if (button == "millem") {
            $("#lbl_percent").css("color", "gray");
            $("#lbl_price").css("color", "gray");
            $("#lbl_millem").css("color", "black");

            $("#tb_percent").hide();
            $("#tb_price").hide();
            $("#tb_millem").show();
        }
    }

</script>